node_modules
.gitignore
.vscode
.DS_Store
.vscode
package-lock.json
Untitled-1.js
sdk.js
cleaning.ts
config.toml
cookies.txt
doodle.png
echo
learningasyncAwait.ts
pinterest_test.js
savePaprika.js
sum.test.ts
sum.ts
test.html
testing_request.js
token_response
index.test.ts

index.ts